* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
    font-family: sans-serif;
}

main {
    margin-top: 20px;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
}

input {
    border: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
}

ul {
    font-size: 24px;
    width: 100%;
}

li {
    cursor: pointer;
}

span {
    color: rgba(1,1,1,1.0);
    transition: color 1s;
}
  
.checked {
    color: gray;
    text-decoration: line-through;
    transition: color 0s;
}
  
.hide {
    color: rgba(1,1,1,0.0);
    transition: color 1.5s, visibility 1.5s;
    visibility: hidden;
}

button {
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
    background: teal;
    color: white;
    margin-left: 20px;
    vertical-align: middle;
}